{% extends "base.html" %}
{% load static %}

{% block title %}
    Вход в систему
{% endblock title %}

{% block content %}

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">Вход в систему</div>
				<div class="panel-body">
					<form method="post">{% csrf_token %}

                        <div class="form-group">
                            <input class="form-control" placeholder="Введите имя ..." type="text" name="name_login">
						</div>

                        <div class="form-group">
                            <input class="form-control" placeholder="Введите пароль ..." type="password" name="password_login">
                        </div>

                        <button href="#" class="btn btn-primary" type="submit">Войти</button>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

